<!DOCTYPE html>
<html>
<head>
  <title>TestItemx</title>
  <%= stylesheet_link_tag    "test_itemx/application", :media => "all" %>
  <%= javascript_include_tag "test_itemx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
